# IntelliJ IDEA
.idea/
*.iml

# Gradle
.gradle/
build/
exes/

# Compiled files
*.class

# Logs
*.log

# Temporary files
out/

# Windows
Thumbs.db

# Mac
.DS_Store

# Archives
*.zip

# Crash logs
hs_err_pid*
